*{

margin:0;
padding:0;
box-sizing:border-box;

}



html,
body{

width:100%;
height:100%;

overflow:hidden;

font-family:Arial,sans-serif;

}



body{


background:url("../images/bg.png")
center center / cover no-repeat;


display:flex;

justify-content:center;

align-items:center;

flex-direction:column;


}




.background{


position:fixed;

inset:0;

background:rgba(0,0,0,.12);

z-index:-1;


}




.book-wrapper{


width:100%;

height:92vh;


display:flex;

justify-content:center;

align-items:center;


}




/* ขนาดเดิม */

#book{


width:min(90vw,90vh * 1.5,1200px);


height:min(60vw,90vh,800px);


max-height:85vh;


}




/* หน้า */

.page{


background:#fff;


overflow:hidden;


box-shadow:

inset 0 0 25px rgba(0,0,0,.08);


}




/* หน้าซ้าย */

.blank{


background:#fff !important;


}



/* กระดาษ */

.paper{


width:100%;

height:100%;


background:#fff;


display:flex;

justify-content:center;

align-items:center;


overflow:hidden;


}




.paper img{


width:100%;

height:100%;


object-fit:contain;


background:white;


}




/* ปก */

.cover{


background:#fff;


display:flex;

justify-content:center;

align-items:center;


}




.cover img{


width:100%;

height:100%;


object-fit:contain;


}




/* เงาหนังสือ */

.stf__parent{


filter:

drop-shadow(
0 20px 40px rgba(0,0,0,.35)
);


transition:.3s;


}





.controls{


margin-top:16px;


display:flex;

justify-content:center;


}



#pageNum{


color:white;

font-size:16px;

font-weight:bold;


text-shadow:

0 2px 6px rgba(0,0,0,.5);


}




@media(max-width:768px){


#book{


width:92vw;


height:calc(92vw / 1.5);


}



.book-wrapper{


height:88vh;


}


#pageNum{


font-size:14px;


}


}